<p>
  <b>Exibidos:</b>
  <%=h @tipo_de_pagamento.exibidos %>
</p>

<p>
  <b> bd:</b>
  <%=h @tipo_de_pagamento. bd %>
</p>


<%= link_to 'Edit', edit_tipo_de_pagamento_path(@tipo_de_pagamento) %> |
<%= link_to 'Back', tipo_de_pagamentos_path %>